<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>Home Page to register or login</title>
        <script th:replace="fragments/header:: header" >

        </script>
    </head>
    <body>
        <h2>Welcome to the Homeschool Hours Tracker</h2>

        <a href="/login"><button type="submit" class="btn btn-primary" value="Login">Login</button></a>
        <a href="/register"> <button type="submit" class="btn btn-primary" value="Register">Register</button></a>
    </body>
</html>