<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <title>REGISTER HERE</title>
    <script th:replace="fragments/header:: header" >

    </script>
</head>
<body>
<div class="card">
    <div class="card-header">
        <h2>Please Register Below</h2>
    </div>
    <div class="card-body">
        <form method = "post">
        <div class="mb-3">
            <label class="form-label">User Name</label>
            <input class="form-control" th:field="${registerFormDTO.username}" aria-describedby="emailHelp"/>
            <p class="error" th:errors="${registerFormDTO.username}"></p>
        </div>

        <div class="mb-3">
            <label  class="form-label">Password</label>
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
            <p class="error" th:errors="${registerFormDTO.password}"></p>
        </div>

        <div class="mb-3">
            <label class="form-label">Verify Password</label>
                <input type="password" class="form-control"th:field="${registerFormDTO.verifyPassword}"/>
        </div>

            <button type="submit" class="btn btn-primary" value="Register">Register</button>

        </form>

    </div>
</div>
</body>
</html>