<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head>
        <title>ADD STUDENTS</title>
        <script th:replace="fragments/header:: header" >

        </script>
    </head>
    <body>
        <div class="card">
            <div class="card-header">
                <h2>Add Subjects Below</h2>
            </div>
            <div class="card-body">
                <form method = "post">
                    <div class="mb-3">
                        <label class="form-label">Subject Name</label>
                        <input class="form-control" th:field="${subject.name}" placeholder="Subject"/>

                    </div>

                    <button type="submit" class="btn btn-primary" value="Add Subject">Add Subject</button>
                </form>

            </div>
        </div>
    </body>
</html>