<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <title>Edit Student</title>
    <script th:replace="fragments/header:: header" >

    </script>
</head>
<body>
<div class="card">
    <div class="card-header">
        <h2>Edit Subject Below</h2>
    </div>
    <div class="card-body">
        <form method = "post">
            <input type="hidden" field="*{subject.id}" name="subject"/>


            <div class="mb-3">
                <label class="form-label">Edit Subject Name</label>
                <input class="form-control" th:field="*{subject.name}"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Edit Subject Name</label>
                <input class="form-control" th:field="*{subject.name}"/>
            </div>
            <button type="submit" class="btn btn-primary" value="Edit Subject">Save</button>
        </form>
    </div>
</div>
</body>
</html>