<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Here are your subjects</title>
       <script th:replace="fragments/header:: header" >

       </script>
    </head>
    <body>
        <div class="card">
            <div class="card-header">
                <h2>Edit Subject Below</h2>
            </div>
            <div class="card-body">
                <form method = "post">
                    <div class="mb-3">
                        <h4 class="form-label">Delete Subject</h4>

                    </div>

                    <button type="submit" class="btn btn-primary" value="Save Edit">Delete</button>
                </form>

            </div>
        </div>
    </body>
</html>