<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>Welcome to the Hours Tracker App</title>
        <script th:replace="fragments/header:: header" >

        </script>
    </head>
    <body>
        <div class="card">
            <div class="card">
                <div class="row">
                    <h2 class="card-header" th:text="${'Student: ' + student.name}">Default Title</h2>

                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush"  th:each="subject: ${student.subjects}">
                        <h4 class="list-group-item list-group-item-action"><a th:href="@{/student/view/{studentId}/subject/{subjectId}(studentId=${student.id},
                            subjectId=${subject.id})}"th:text="${subject.name}"></a></h4>
                    </div>
                </div>

            </div>
        </div>
            <form th:action ="@{/student/view/{studentId}/addSubjects(studentId=${student.id})}">
                <button class="btn btn-primary" value="Add Subjects">Add Subjects</button>
            </form>
    </body>
</html>