<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <title>Edit Student</title>
    <script th:replace="fragments/header:: header" >

    </script>
</head>
<body>
<div class="card">
    <div class="card-header">
        <h2>Edit Subject Below</h2>
    </div>
        <div class="card-body">
            <form method = "post">
                <input type="hidden" field="*{subject.id}" name="subject"/>

                <!--Edit Subject Name-->
                <div class="mb-3">
                    <label class="form-label">Edit Subject Name</label>
                    <input type="text" class="form-control" th:field="*{subject.name}"/>
                </div>

                <!--Add Amount of hours in the subject. -->
                <div class="mb-3">
                    <label class="form-label">Add Total Hours Completed for this subject</label>
                    <input type="number" step=".01" class="form-control" th:field="*{subject.totalHours}"/>
                </div>
                <button type="submit" class="btn btn-primary" value="Edit hours">Save</button>
            </form>
            <form th:action ="@{/student/view/{studentId}/subject/{subjectId}/addHours(studentId=${student.id},
                                subjectId=${subject.id})}"> <button class="btn btn-primary" value="Add Hours">Add Hours</button></form>
                <form method="post"> <button type="submit" class="btn btn-primary" value="Delete">Delete</button>
                </form>
        </div>
    </div>
</body>
</html>